form{
    width: 800px;
    margin-top: 10px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
}

form input{
    margin: 10px;
}

form textarea, label{
    margin: 10px;
}

.linha{
    display: flex;
    justify-content: center;
}
.linha button{
    margin: 10px;
}
.alerts{
    
}